<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="/static/index.css">
    <meta charset="UTF-8">
    <title>Bauhaus</title>
</head>
<body>
    <main>
        <header>
            <h1>Bauhaus</h1>
        </header>
    </main>
    <section>
        <p>This is real content.</p>
        <input type="button" name="button" value="Click me" hx-get="/test" hx-swap="outerHTML">
        <div id="hidden-content"></div>
    </section>
</body>
</html>