<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <title>Bauhaus</title>
</head>
<body class="flex flex-col items-center bg-orange-400 p-4 font-mono">
    <main class="max-w-[1000px] h-[1000px] w-full grid grid-cols-8 grid-rows-5 gap-4 rounded-2xl overflow-clip">
        <div class="col-span-2 bg-slate-50 flex flex-col row-span-5">
            <div class="bg-slate-200 grid place-items-center mt-8 border-y-2 border-black p-4 font-semibold">
                Developer
            </div>
            <div class="relative h-full">
                <div class="grid grid-cols-6 bg-black gap-[2px] h-full">
                    <div class="bg-slate-50"></div>
                    <div class="bg-slate-500"></div>
                    <div class="bg-slate-50"></div>
                    <div class="bg-slate-50"></div>
                    <div class="bg-slate-300"></div>
                    <div class="bg-slate-50"></div>
                </div>
                <div class="absolute h-full top-0 left-0 w-full flex flex-col items-center justify-between py-8 overflow-none">
                    <div class="bg-blue-200 rounded-full h-40 w-40 border-2 border-black grid place-items-center p-6">
                        <div class="bg-blue-950 rounded-full h-full border-2 border-black w-full grid place-items-center p-6">
                            <div class="bg-slate-50 rounded-full  h-full border-2 border-black w-full"></div>
                        </div>
                    </div>
                    <div class="bg-blue-950 rounded-full h-10 w-10 border-2 border-black"></div>
                    <div class="bg-blue-950 rounded-full h-20 w-20 grid place-items-center p-4">
                        <div class="bg-orange-500 rounded-full h-full w-full"></div>
                    </div>
                    <div class="bg-blue-950 rounded-full h-12 w-12 border-2 border-black"></div>
                    <div class="bg-blue-200 rounded-full h-40 w-40 border-2 border-black grid place-items-center p-6">
                        <div class="bg-blue-950 rounded-full h-full border-2 border-black w-full grid place-items-center p-6">
                            <div class="bg-slate-50 rounded-full  h-full border-2 border-black w-full"></div>
                        </div>
                    </div>
                    <div class="bg-orange-500 rounded-full h-8 w-8 border-2 border-black"></div>
                </div>
            </div>
        </div>
        <div class="col-span-3 row-span-2 bg-slate-950 relative grid grid-rows-10 grid-cols-10 gap-1">
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="bg-slate-200"></div>
            <div class="absolute bottom-0 left-0 w-full py-4 px-8 gap-4 bg-blue-950 flex flex-col items-center">
                <p class="text-slate-50 text-2xl font-bold">Filbert Montaru</p>
                <div class="bg-slate-50 rounded-xl w-full flex justify-between font-bold px-12">
                    <p class="text-center">Cool</p>
                    <p class="text-center">Awesome</p>
                </div>
            </div>
        </div>
        <div class="col-span-3 row-span-2 bg-slate-50 flex flex-col p-8">
            <div class="p-4 border-black border-2 text-center mb-2">
                <h3 class="text-2xl font-semibold">About Me</h3>
            </div>
            <div>
                <span class="h-16 w-16 bg-orange-500 border-2 border-black float-left mr-2 mb-2"></span>
                <p class="font-serif indent-2" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto aperiam dolore tempora eaque sunt quam provident perferendis perspiciatis nisi, quae voluptas illo, accusantium ea eveniet magni consectetur amet quibusdam ipsam, quae voluptas illo, accusantium ea eveniet magni consectetur amet quibusdam ipsam!</p>
            </div>
        </div>
        <div class="bg-slate-50 col-span-6 row-span-1">
            <p hx-get="/quote" hx-trigger="load" hx-swap="innerHTML">Loading</p>
        </div>
        <div class="bg-slate-50 row-span-1 col-span-3"></div>
        <div class="bg-slate-50 row-span-2 col-span-3 p-4 flex flex-col gap-2">
            <h3 class="font-mono text-lg font-semibold">Contact Me</h3>
            <form id="contactForm" class="h-full flex flex-col gap-4">
                <div class="flex justify-center items-center w-full">
                    <span class="h-[10px] w-[10px] bg-slate-200 rounded-full border-black border-2"></span>
                </div>
                <input type="text" name="name" placeholder="Name" required class="p-2 rounded border-2 border-black">
                <input type="email" name="email" placeholder="Email" required class="p-2 rounded border-2 border-black">
                <textarea name="message" placeholder="Message" required class="p-2 rounded border-2 border-black"></textarea>
                <div class="flex justify-center items-center w-full">
                    <span class="h-[10px] w-[10px] bg-orange-500 rounded-full border-black border-2"></span>
                </div>
                <input type="submit" value="Send" class="text-white font-bold bg-blue-950 p-2"/>
            </form>
        </div>
        <div class="bg-slate-50 row-span-1 col-span-3">
        </div>
    </main>
    <section>
        <p>This is real content.</p>
        <input type="button" name="button" value="Click me" hx-get="/test" hx-swap="outerHTML">
        <div id="hidden-content"></div>
    </section>
</body>
</html>